<section class="about-us" id="about-us">
  <div class="container">
    <div class="about-us-head">
      <h2 class="about-us-title">
        About <span class="about-us-title-accent">Us</span>
      </h2>
      <p class="about-us-text">
        We are dedicated to providing engaging and effective English language
        courses in a supportive and stimulating learning environment.
      </p>
    </div>

    <div class="about-us-list-wrap">
      <ol class="about-us-list">
        <li class="about-us-item">
          <p class="about-us-number">01</p>
          <h3 class="about-us-item-title">Expert, innovative teaching staff</h3>
        </li>
        <li class="about-us-item">
          <p class="about-us-number">02</p>
          <h3 class="about-us-item-title">
            Wide range of course levels and options
          </h3>
        </li>
        <li class="about-us-item">
          <p class="about-us-number">03</p>
          <h3 class="about-us-item-title">
            Multicultural learning environment
          </h3>
        </li>
        <li class="about-us-item">
          <p class="about-us-number">04</p>
          <h3 class="about-us-item-title">
            Comprehensive language support services
          </h3>
        </li>
      </ol>

      <div class="about-us-image-card">
        <div class="about-us-image-wrap">
          <img
            class="about-us-image about-us-image-default"
            src="./images/about-us-memoji.webp"
            srcset="./images/about-us-memoji.webp 1x, ./images/about-us-memoji@2x.webp 2x"
            alt="Girl illustration"
            width="254"
            height="211"
            loading="lazy"
          />
          <img
            class="about-us-image about-us-image-hover"
            src="./images/about-us-memoji-hover.webp"
            srcset="./images/about-us-memoji-hover.webp 1x, ./images/about-us-memoji-hover@2x.webp 2x"
            alt="Girl illustration hover"
            width="254"
            height="211"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>
</section>
