<section class="proposal" id="proposal">
  <div class="container">
    <div class="proposal-container">
      <h2 class="visually-hidden">Proposal to leave an application</h2>
      <p class="proposal-title">
        Master the <span class="proposal-title-part">Language</span> with Our
        English Package!
      </p>
      <div class="proposal-cards">
        <div class="proposal-card-top">
          <div class="top-card-content">
            <p class="proposal-card-title">Power of English</p>
            <ul class="proposal-list">
              <li class="proposal-list-item">
                <div class="proposal-svg-layout">
                  <svg class="proposal-checkmark-svg">
                    <use href="./images/icons.svg#checkmark"></use>
                  </svg>
                </div>
                <p class="proposal-list-item-text">
                  Dive into captivating lessons designed to stimulate your
                  curiosity.
                </p>
              </li>
              <li class="proposal-list-item">
                <div class="proposal-svg-layout">
                  <svg class="proposal-checkmark-svg">
                    <use href="./images/icons.svg#checkmark"></use>
                  </svg>
                </div>
                <p class="proposal-list-item-text">
                  Learn in a nurturing setting where every student's progress
                  matters.
                </p>
              </li>
              <li class="proposal-list-item">
                <div class="proposal-svg-layout">
                  <svg class="proposal-checkmark-svg">
                    <use href="./images/icons.svg#checkmark"></use>
                  </svg>
                </div>
                <p class="proposal-list-item-text">
                  Experience the satisfaction of real progress as your language
                  skills and confidence grow with every session.
                </p>
              </li>
            </ul>
            <a href="#leave-an-app" class="proposal-btn">
              Leave an application
            </a>
            <img
              class="books-png"
              src="./images/books.avif"
              loading="lazy"
              srcset="./images/books.avif 1x, ./images/books@2x.avif 2x"
              alt="tall stack of books"
              width="214"
              height="263"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
