<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews-title">
      What our <span>students</span> say</h2>
    <p class="review-subtitle">
      Hear from our students about their learning journey with us, as they
      share their experiences, progress, and the transformative impact
    </p>
    <ul class="reviews-list">
      <li class="review-card">
        <div class="review-header">
          <img 
          src="./images/review-anna.jpg" 
          srcset="./images/review-anna.jpg 1x, ./images/review-anna@2x.jpg 2x"
          loading="lazy"
          alt="Photo of Student">
          <div class="review-name">
            <p class="review-student-name">Anna</p>
            <span class="review-student">Student</span>
          </div>
        </div>
        <p class="review-text">My experience at the language school has been
          nothing short of amazing. The teachers are dedicated and the learning
          environment is stimulating. I feel more confident in my English skills.
        </p>
      </li>
      <li class="review-card">
        <div class="review-header">
          <img 
          src="./images/review-misha.jpg"
          srcset="./images/review-misha.jpg 1x, ./images/review-misha@2x.jpg 2x"
          loading="lazy"
          alt="Photo of Student">
          <div class="review-name">
            <p class="review-student-name">Mykhailo</p>
            <span class="review-student">Student</span>
          </div>
        </div>
        <p class="review-text">The school offers a great balance of language
          theory and practical exercises. The personalized feedback from the
          teachers has helped me improve my weak areas.
        </p>
      </li>
      <li class="review-card">
        <div class="review-header">
          <img 
          src="./images/review-vika.jpg" 
          srcset="./images/review-vika.jpg 1x, ./images/review-vika@2x.jpg 2x"
          loading="lazy"
          alt="Photo of Student">
          <div class="review-name">
            <p class="review-student-name">Victoria</p>
            <span class="review-student">Student</span>
          </div>
        </div>
        <p class="review-text">I love the dynamic and interactive teaching methods
          used here. It's a great place to learn English in a fun and effective way.
          I have definitely seen a big improvement in my language skills.
        </p>
      </li>
    </ul>
  </div>
</section>